<h1>Things To Don't Do</h1>

<a href="/todont/new">Create A New To Don't</a>
<ul>
  {{#each data}}
    <li>Description: <a href="/todont/{{@index}}">{{description}}</a></li>
    <li>Urgent: {{urgent}}</li>
    <form method="POST" action="/todont/{{@index}}?_method=DELETE">
	    <button>DELETE</button>
    </form>
  {{/each}}
</ul>