<h1>Create A New To Don't!</h1>

<form method="POST" action="/todont">
  <div>
    <label for="description">Description: </label>
    <input type="text" name="description"></input>
  </div>

  <div>
    <label for="urgent">Urgent: </label>
    <span>Yes</span><input type="radio" name="urgent" value="true" checked>
    <span>No</span><input type="radio" name="urgent" value="false" >
  </div>

  <button a href="/todont">Submit</button>
</form>

<br/><br/>
<a href="/todont">Go Back</a>