<h1>New User</h1>

<form action="/users" method="POST">
    <input type="text" name="first_Name" placeholder="first name">
    <input type="email" name="email" required>
    <input type="submit" placeholder="email" value="Create">
    </form>