<h1>Create A New Todo</h1>

<a href="/todos">Go to Index</a>


<form method="POST" action="/todos"> 
	<div>
	<label for="description">Description: </label>
	<input name="description"></input>
	</div>

	<div>
	<label for="urgent">Urgent: </label>
	<span>Yes</span><input type="radio" name="Urgent" value="true" checked>
	<span>No</span><input type="radio" name="urgent" value="false">
	</div>
	
	<button>Submit</button>
</form>