<form method="POST" action="/index">
  
  <div>
    <label for="description">Name: </label>
    <input type="text" name="Name"></input>
  </div>

  <div>
    <label for="description">Birthplace: </label>
    <input type="text" name="Birthplace"></input>
  </div>

  <div>
    <label for="description">Year of Death: </label>
    <input type="text" name="Year of Death"></input>
  </div>

  <div>
    <label for="description">Base: </label>
    <input type="text" name="Base"></input>
  </div>

  <div>
    <label for="description">Nickname: </label>
    <input type="text" name="Nickname"></input>
  </div>

  

  <button>Create New Pirate</button>
</form>
